<div style="margin:10px">
    <h2 mat-dialog-title>Expense Export</h2>

    <mat-dialog-content>
        <mat-radio-group aria-label="Select export format" color="primary" [(ngModel)]="exportFormat">
            <mat-radio-button value="1">Excel</mat-radio-button>
            <mat-radio-button value="2">Pdf</mat-radio-button>
        </mat-radio-group>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button (click)="onDismiss()">
            Cancel
        </button>
        <button mat-raised-button color="primary" (click)="onConfirm()">
            Export
        </button>
    </mat-dialog-actions>
</div>