<form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="w-full mb-4">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" placeholder="email@example.com" />
        <mat-error *ngIf="showValidationError('email')">
            <ng-container *ngIf="emailForm.controls['email'].hasError('required')">
                Email is <strong>required</strong>.
            </ng-container>
            <ng-container *ngIf="emailForm.controls['email'].hasError('email')">
                Please enter a valid <strong>Email address</strong>.
            </ng-container>
        </mat-error>
    </mat-form-field>
    <div class="mt-6 button-container">
        <button mat-flat-button color="primary" type="submit" [disabled]="emailForm.invalid">Login</button>
    </div>
</form>