.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

mat-form-field {
  width: 100%;
}
.grey-button {
  background-color: rgb(211, 210, 210);
  color: black;
}
