<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="showValidationError('password') && passwordForm.controls['password'].hasError('required')">
            Password is <strong>required</strong>.
        </mat-error>
        <mat-error *ngIf="showValidationError('password') && passwordForm.controls['password'].hasError('maxlength')">
            Password can't be more than <strong>18 characters.</strong>.
        </mat-error>
        <mat-error *ngIf="showValidationError('password') && passwordForm.controls['password'].hasError('minlength')">
            Password can't be less than <strong>6 characters.</strong>.
        </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" />
        <mat-error
            *ngIf="showValidationError('confirmPassword') && passwordForm.controls['confirmPassword'].hasError('required')">
            Confirm password is <strong>required</strong>.
        </mat-error>
        <mat-error
            *ngIf="showValidationError('confirmPassword') && passwordForm.controls['confirmPassword'].hasError('passwordMismatch')">
            Password and Confirm password must <strong>match</strong>.
        </mat-error>
    </mat-form-field>
    <div class="mt-6 button-container">
        <button mat-button type="button" class="grey-button" (click)="goBack()">Back
            <mat-icon>arrow_back</mat-icon></button>
        <button mat-flat-button color="primary" type="submit">Next
            <mat-icon iconPositionEnd>arrow_forward</mat-icon></button>
    </div>
</form>