<mat-card class="profile-card">
    <mat-card-header style="padding-bottom: 20px;">
        <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
        <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
            <mat-form-field class="full-width">
                <mat-label>Current Password</mat-label>
                <input matInput type="password" formControlName="currentPassword" />
                <mat-error
                    *ngIf="showValidationError('currentPassword') && passwordForm.controls['currentPassword'].hasError('required')">
                    Current password is <strong>required</strong>.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>New Password</mat-label>
                <input matInput type="password" formControlName="newPassword" />
                <mat-error
                    *ngIf="showValidationError('newPassword') && passwordForm.controls['newPassword'].hasError('required')">
                    New password is <strong>required</strong>.
                </mat-error>
                <mat-error
                    *ngIf="showValidationError('newPassword') && passwordForm.controls['newPassword'].hasError('maxlength')">
                    New password can't be more than <strong>18 characters.</strong>.
                </mat-error>
                <mat-error
                    *ngIf="showValidationError('newPassword') && passwordForm.controls['newPassword'].hasError('minlength')">
                    New password can't be less than <strong>6 characters.</strong>.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Confirm New Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" />
                <mat-error
                    *ngIf="showValidationError('confirmPassword') && passwordForm.controls['confirmPassword'].hasError('required')">
                    Confirm password is <strong>required</strong>.
                </mat-error>
                <mat-error
                    *ngIf="showValidationError('confirmPassword') && passwordForm.controls['confirmPassword'].hasError('passwordMismatch')">
                    New password and Confirm password must <strong>match</strong>.
                </mat-error>
            </mat-form-field>

            <div class="button-row">
                <button mat-raised-button color="accent" type="submit">
                    Change Password
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>